<!DOCTYPE html>
<html>
<head>
  <title>Seti</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

  <%if current_user%>
    Logged in as <%=current_user.name%> | 
    <%= link_to "Users", users_path %> | 
    <%= link_to "Targets", targets_path %> | 
    <%= link_to "Observations", observations_path %> | 
    <%= link_to "Ranges", observation_ranges_path %> | 
    <%= link_to "Assignments", assignments_path %> |
    <%= link_to "Log Out", logout_path %><br/>

    <%= yield %>

  <%else%>
    Log in via <%= link_to "Facebook", "/auth/facebook"%>
  <%end%>   
  

</body>
</html>
