<h1><%=ObservationRange.count%> Observation Ranges</h1>

<%= paginate @observation_ranges %>

<table>
  <tr>
    <th>Observation</th>
    <th>Lo mhz</th>
    <th>Hi mhz</th>
    <th>Status</th>
    <th>Assignments</th>
    <th>Actions</th>
  </tr>

<% @observation_ranges.each do |observation_range| %>
  <tr>
    <td><%= observation_range.observation.friendly_name %></td>
    <td><%= observation_range.lo_mhz %></td>
    <td><%= observation_range.hi_mhz %></td>
    <td><%= observation_range.status %></td>
    <td><%= observation_range.assignments.count %></td>
    <td><%= link_to 'Show', observation_range %> <%= link_to 'Edit', edit_observation_range_path(observation_range) %> <%= link_to 'Destroy', observation_range, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Observation range', new_observation_range_path %>
