<h1>Observation Range <%= @observation_range.id%></h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Observation:</b>
  <%= link_to @observation_range.observation.friendly_name, @observation_range.observation %>
</p>

<p>
  <b>Observation Date:</b>
  <%= @observation_range.observation.date %>
</p>

<p>
  <b>Lo mhz:</b>
  <%= @observation_range.lo_mhz %>
</p>

<p>
  <b>Hi mhz:</b>
  <%= @observation_range.hi_mhz %>
</p>

<p>
  <b>Status:</b>
  <%= @observation_range.status %>
</p>


<p>
  <b>Friendly Name:</b>
  <%= @observation_range.friendly_name %>
</p>

<b><%= @observation_range.assignments.count%> Assignments</b><br/>
<%if @observation_range.assignments.count > 0%>
<table>
  <tr>
    <th>User</th>
    <th>Created</th>
    <th>Pattern Marks</th>
    <th>Action</th>
  </tr>
<% @observation_range.assignments.each do |assignment| %>
  <tr>
    <td><%= assignment.user.name %></td>
    <td><%= time_since(assignment.created_at)%></td>
    <td><%= assignment.pattern_marks.count%></td>
    <td><%= link_to "Show", assignment%>
  </tr>
<%end%>
</table>
<%end%>



<%= link_to 'Edit', edit_observation_range_path(@observation_range) %> |
<%= link_to 'Back', observation_ranges_path %>
