<h1>Observation Range <%= @observation_range.id%></h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Observation:</b>
  <%= link_to @observation_range.observation.friendly_name, @observation_range.observation %>
</p>

<p>
  <b>Observation Date:</b>
  <%= @observation_range.observation.date %>
</p>

<p>
  <b>Lo mhz:</b>
  <%= @observation_range.lo_mhz %>
</p>

<p>
  <b>Hi mhz:</b>
  <%= @observation_range.hi_mhz %>
</p>

<p>
  <b>Status:</b>
  <%= @observation_range.status %>
</p>


<p>
  <b>Friendly Name:</b>
  <%= @observation_range.friendly_name %>
</p>

<b>Tiles</b><br/>
<% @observation_range.url_part_list.lines.each do |line| %>
  <%= link_to(line, @observation_range.observation.base_url + "/" + line) %><br/>
<%end%>




<%= link_to 'Edit', edit_observation_range_path(@observation_range) %> |
<%= link_to 'Back', observation_ranges_path %>
