<h1><%=Observation.count%> Observations</h1>

<%= paginate @observations %>


<table border="1">
  <tr>
    <th>Date</th>
    <th>Target</th>
    <th>Actions</th>
  </tr>

<% @observations.each do |observation| %>
  <tr>
    <td><%= observation.date %></td>
    <td><%= observation.target.name %></td>
    <td><%= link_to 'Show', observation %> <%= link_to 'Edit', edit_observation_path(observation) %> <%= link_to 'Destroy', observation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Observation', new_observation_path %>
