
<h1>Observation <%= @observation.id%></h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @observation.date %>
</p>

<p>
  <b>Target:</b>
  <%= @observation.target.name %>
</p>


<p>
  <b>Friendly Name:</b>
  <%= @observation.friendly_name %>
</p>

<p>
  <b>URL Format:</b>
  <%= @observation.url_format %>
</p>


<%= link_to 'Edit', edit_observation_path(@observation) %> |
<%= link_to 'Back', observations_path %>
