<h1>Home#index</h1>
<%= link_to "Users", users_path %><br/>
<%= link_to "Targets", targets_path %><br/>
<%= link_to "Observations", observations_path %><br/>
<%= link_to "Ranges", observation_ranges_path %><br/>
<%= link_to "Assignments", assignments_path %><br/>


