<h1>All Targets</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Right ascension</th>
    <th>Declination</th>
    <th>Actions</th>
  </tr>

<% @targets.each do |target| %>
  <tr>
    <td><%= target.name %></td>
    <td><%= target.description %></td>
    <td><%= target.right_ascension %></td>
    <td><%= target.declination %></td>
    <td><%= link_to 'Show', target %> <%= link_to 'Edit', edit_target_path(target) %> <%= link_to 'Destroy', target, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Target', new_target_path %>
