<%= form_for(@pattern_mark) do |f| %>
  <% if @pattern_mark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pattern_mark.errors.count, "error") %> prohibited this pattern_mark from being saved:</h2>

      <ul>
      <% @pattern_mark.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mhz %><br />
    <%= f.text_field :mhz %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>

  <div class="field">
    <%= f.label :assignment %><br />
    <%= f.collection_select :assignment_id, Assignment.all, :id, :friendly_name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
