<h1><%=@pattern_marks_set.count%> Pattern Marks</h1>

<%= form_tag({:action=>:index}, {:method=>:get}) do%>
  Start date (YYYY-MM-DD) <%= text_field_tag :start_date, params[:start_date] %> &nbsp;
  End date (YYYY-MM-DD) <%= text_field_tag :end_date, params[:end_date] %> &nbsp;
  <%= submit_tag "Filter by Date"%>
<%end%>

<br/><br/>

<%= paginate @pattern_marks %>

<table>
  <tr>
    <th>Observation</th>
    <th>Mhz</th>
    <th>Category</th>
    <th>Date</th>
    <th>User</th>
    <th>Actions</th>
  </tr>

<% @pattern_marks.each do |pattern_mark| %>
  <tr>
    <td><%= pattern_mark.assignment.observation_range.observation.friendly_name rescue "-" %></td>
    <td><%= pattern_mark.mhz %></td>
    <td><%= pattern_mark.category %></td>
    <td><%= pattern_mark.date %></td>
    <td><%= pattern_mark.assignment.user.name rescue "-" %></td>
    <td><%= link_to 'Show', pattern_mark %> | <%= link_to 'Edit', edit_pattern_mark_path(pattern_mark) %> | <%= link_to 'Destroy', pattern_mark, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pattern mark', new_pattern_mark_path %> | <%= link_to "Download as CSV", :format => :csv, :start_date => @parameters[:start_date], :end_date => @parameters[:end_date] %>
