<h1><%=Assignment.count%> Assignments</h1>

<%= paginate @assignments%>

<table>
  <tr>
    <th>Observation range</th>
    <th>User</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>

<% @assignments.each do |assignment| %>
  <tr>
    <td><%= assignment.observation_range.friendly_name %></td>
    <td><%= assignment.user.name %></td>
    <td><%= assignment.status %></td>
    <td><%= link_to 'Show', assignment %> <%= link_to 'Edit', edit_assignment_path(assignment) %> <%= link_to 'Destroy', assignment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Assignment', new_assignment_path %>
