<h1><%=@assignments_set.count%> Assignments</h1>

<%= form_tag({:action=>:index}, {:method=>:get}) do%>
  Start date (YYYY-MM-DD) <%= text_field_tag :start_date, params[:start_date] %> &nbsp;
  End date (YYYY-MM-DD) <%= text_field_tag :end_date, params[:end_date] %> &nbsp;
  <%= submit_tag "Filter by Date"%>
<%end%>

<br/><br/>

<%= paginate @assignments%>

<table>
  <tr>
    <th>Observation range</th>
    <th>User</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>

<% @assignments.each do |assignment| %>
  <tr>
    <td><%= assignment.observation_range.friendly_name rescue '-'%></td>
    <td><%= assignment.user.name rescue '-'%></td>
    <td><%= assignment.status %></td>
    <td><%= link_to 'Show', assignment %> <%= link_to 'Edit', edit_assignment_path(assignment) %> <%= link_to 'Destroy', assignment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Assignment', new_assignment_path %> | <%= link_to "Download as CSV", :format => :csv, :start_date => @parameters[:start_date], :end_date => @parameters[:end_date] %>

